@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

footer {
  margin: 10px auto 10px;
}

.nav-item {
  padding-right: 30px;
}

@media only screen and (max-width: 600px) {
  .nav-item {
    padding-right: 5px;
  }
}